<!DOCTYPE html>
<html>
<head>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
  <script>
      function add_comment() {
          $.ajax({
              type: "POST",
              url: "/chateau_comments/add_comment",
              data: {
                  content: $("#textarea_content").val(),
                  user_id: $("#input_user_id").val(),
                  announcement_id: $("#input_announcement_id").val()
              },
              dataType: "json",
              success: function (data) {
                  alert(JSON.stringify(data));
                  location.reload();
              }
          });
      }
      ;

      function hit(a) {

          $.ajax({
              type: "POST",
              url: "/chateau_comments/hit",
              data: {
                  chateau_comment_id: $("#input_chateau_comment_id" + a).val()
              },
              dataType: "json",
              success: function (data) {
                  var hits = parseInt($("#input_chateau_comment_hits" + a).val()) + 1;
                  $("#p_hits" + a).html(hits + "");
                  $("#btn_hits" + a).attr("disabled", true);
              }
          });

      }
      ;


      //      function stow() {
      //          var customer_id = $("#customer_id").val();
      //          var announcement_id= $("#announcement_id").val();
      //          $.ajax({
      //              type: "POST",
      //              url: "/announcements/stow",
      //              data: {announcement_id: announcement_id,customer_id:customer_id},
      //              dataType: "json",
      //              success: function (data) {
      //                  var stows = parseInt($("#p_stows").text()) + 1;
      //                  $("#p_stows" + a).html(stows + "");
      //                  $("#btn_stow" + a).attr("disabled", true);
      //              }
      //          });
      //
      //      }
      //      ;

  </script>

</head>
<body>

<div class="container" id="">
  <div class="row" id="">
    <div class="col-xs-12" id="title">
      <h1><%= @announcement.title %></h1>
    </div>
    <!--header-->
    <div class="col-xs-12" id="">
      <div class="col-xs-6" id="source">
        <% if @announcement.source.present? %>
            <%= @announcement.source %>
        <% else %>
            来源：小达快讯
        <% end %></div>
      <div class="col-xs-6" id="created_at">
        <%= @announcement.created_at.to_s[5, 11] %>
      </div>
    </div>
  </div>
  <!--row-->
  <div class="row" id="">
    <div class="col-xs-12" id="content">
      <%= markdown @announcement.content %>
    </div>
    <!--content-->
  </div>
  <!--row-->
</div>
<!--container-->
<!--<input id="customer_id" type="hidden" value="567d20a1e1382376bc000000">-->
<!--<input id="announcement_id" type="hidden" value="">-->
</body>

</html>


