<div class="container" style="padding:2% 4%; font-family:SimHei;">
  <div id="content" class="" style="font-size:280%;line-height:160%; color:#282828; border-top:1px solid #d6d6d6;">
    <%=  markdown  @announcement.content %>
  </div>
</div>