%h1= t('mongoid.models.traceability')

.row
  .col-xs-12
    = form_tag traceabilities_path,:remote=>true, method: 'get',style:'padding:10px;' do
      .input-group
        %span.input-group-addon
          %i.ace-icon.glyphicon.glyphicon-barcode
        = text_field_tag :code



%h3#result 请扫描或输入条码查询!
%table{class:'display table table-striped table-bordered'}
  %thead
    %tr
      %th 商品
      %th 供应商
      %th 入库仓库
      %th 要货仓库
      %th 入库时间

  %tbody#searchResult


%br
