:plain
  var data='#{@jsonresult.to_json}'
  data=jQuery.parseJSON(data)
  //alert(JSON.stringify(data));
  $('#code').val('');
  $('tbody#searchResult > tr').remove().fadeOut()
  if(data!='null'&& data!='' &&data != undefined){
      $(data).each(function(){
        $('#searchResult').prepend('<tr><td>'+this.product.title+'</td><td>'+this.storage+'</td><td>'+this.stock_in_date+'</td></tr>')
      });
      $('#result').html('找到'+data.length+'条信息')
    }else{
      $('#result').html('<span style="color:red">没有找到条码信息</span>')
    }
