<!doctype html>
%html
  %head

    %meta{:content => "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
      %link{:href => "//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
      %link{:href => "//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", :rel => "stylesheet"}
        %script{:src => "//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"}
        %script{:src => "//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title
      =@share_integral.title
  %body
    .container
      .banner-box
        %img{:src => @share_integral.share_out_pic.url}
      .con-box
        .content-box
          %p
            %br
            您已领取积分礼包#{@share_integral.register_give_integral}积分
            %br
              快快使用吧
      .xiazai
        %button.btn01 下载酒运达APP品味人生
      .hd-box
        .hd
          %p 活动规则
          %img{:src => "/images/share_down.png"}
      .text-box
        = markdown @share_integral.desc



    :css
      @charset "utf-8";
      /* CSS Document */

      body,img,{margin:0;padding:0;border:0;}
      *{ margin:0px; padding:0px; font-family:"SimHei"}
      .container{ width:100%; margin:0; padding:0;}
      .banner-box img{width:100%}

      .con-box{background-image:url("/images/share_bg.png");background-repeat:no-repeat;width:100%;background-size:100% 100%;overflow:hidden}
      .content-box{background-image:url("/images/share_content.png"); opacity:0.9;background-repeat:no-repeat;margin-left:auto;margin-right:auto;width:65%;height:60%;background-size:100% 100%;margin-top:15%;margin-bottom:15%}

      .content-box p{font-family:"SimHei";font-size:120%;text-align:center;color:#FFF; padding-top:5%;padding-bottom:15%}

      .btn01{ display:block; width:70%; height:40px; border-radius:5px; background-color:#fa6261; border:none; margin-left:auto; margin-right:auto; margin-top:5%; line-height:40px; text-align:center; color:#ffffff; font-size:120%;}

      .hd-box{width:100%; margin-top:20%; margin-bottom:2%}
      .hd{display:table; margin-left:auto; margin-right:auto;}
      .hd p{ float:left; font-size:125%;}
      .hd img{ float:left; margin-top:3px; margin-left:10px;}

      .text-box{width:100%}
      .text-box p{text-align:center;margin-bottom:5%;font-family:"SimHei";font-size:125%}


    :javascript
      $(".text-box").hide();
      $(".hd img").click(function(){$(".text-box").toggle();
              $(".text-box").animate({top:'500px'});
      });

