<!doctype html>
%html
  %head
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag "share_integrals", :media => "all"
    %script{:src => "//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"}
    %script{:src => "//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %link{:href => "//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %title
      =@share_integral.title
  %body
    .banner-box
      %img{:src => @share_integral.share_out_pic.url}

    .register2-box
      %img{:src =>"/images/logo1024.png" }
      .aa_box01
        恭喜你获得酒运达积分礼包
      %input.btn_style_03#btn_mobile{:name => "mobile", :type => "text",:value =>"请输入手机号"}
      .xiazai
        %button.btn_style_04#btn_register{onclick: 'return register()'} 领取礼包


    .con-box{:style=>"display:none"}
      .content-box
        %p
          %br
          您已领取积分礼包#{@share_integral.register_give_integral}积分
          %br
            快快使用吧
      .xiazai
        %a.btn01#app_path0 下载酒运达APP品味人生


    .friend-box{:style=>"display:none"}
      .content-box
        %p
          %br
          您已是老朋友，登录APP进行推荐有奖
          %br
            即获得#{@share_integral.shared_give_integral}积分赶快行动吧！
      .xiazai
        %a.btn01#app_path1 下载酒运达APP品味人生

    .hd-box
      .hd
        %p 活动规则
        %img.role_pic{:src => "/images/share_down.png"}
    .text-box{:style=>"display:none"}
      = markdown @share_integral.rule_content if @share_integral.rule_content.present?

    %input#share_integral_id{:type => "hidden", :value => @share_integral.id.to_s }
    %input#shared_customer_id{:type => "hidden", :value => @shared_customer_id }


:javascript
  $(function(){

     $("#btn_mobile").click(function(){$("#btn_mobile").val("");});


     if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
        var user_system ="iOS"
        $("#app_path0").attr("href","http://fir.im/jydnew");
        $("#app_path1").attr("href","http://fir.im/jydnew");
      } else if (/(Android)/i.test(navigator.userAgent)) {
        var user_system ="Android"
        $("#app_path0").attr("href","http://fir.im/hnjyd");
        $("#app_path1").attr("href","http://fir.im/hnjyd");
      } else {
        alert("PC不能直接下载！");
      };


      $(".hd").click(function(){

        $(".role_pic").attr("src","/images/share_up.png");
        $(".text-box").toggle();
        $('html,body').animate({scrollTop:$('.text-box p').offset().top}, 800);

      });




   });




  function register(){
    var mobile = $("input:text").val();
    var share_integral_id = $("#share_integral_id").val();
    var shared_customer_id = $("#shared_customer_id").val();
    if (mobile == undefined || mobile == ""|| mobile.length!=11) {
     alert("请输入正确的手机号码！")
     return false;
    };

    $.ajax({
        type: "POST",
        url: "/share_integrals/"+ share_integral_id +"/register",
        data: {mobile: mobile,share_integral_id: share_integral_id ,shared_customer_id: shared_customer_id},
        dataType: "json",
        success: function (data) {
          $(".register2-box").hide();
          if(data.flag==0){
            $(".friend-box").show();
          }
          else{
            $(".con-box").show();
          }
        }
    });

      $("#btn_register").attr("disabled", true);
  };












