%table#delivery_users_table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th{:style => "display:none;"}ID
      %th 名字
      %th 手机号
      %th{:style => "display:none;"} token
  %tbody