/礼包列表
%table.table.table-striped.table-bordered.table-hover#customer_data
  %thead
    %tr
      %th 名称
      %th 业务员
  %tbody

%input{"type"=>"hidden","id"=>"product_tickets_id","value"=>"#{@product_ticket.id}"}
= link_to '刷新', "javascript:refresh_datetable()" , :class => 'btn btn-minier btn-yellow'