- if page.current?
  %li.active
    = content_tag :a, page, remote: remote, rel: (page.next? ? 'next' :  nil)
- else
  %li
    = link_to page, "javascript:void(0);",  remote: remote, rel: (page.next? ? 'next' :  nil),:onclick => "getTable(#{page})"
