.row
  .col-xs-12
    .row
      .space-6
      .col-sm-7.infobox-container
        /绿色主题
        .infobox.infobox-green
          .infobox-icon
            %i.ace-icon.fa.fa-comments
          .infobox-data
            %span.infobox-data-number 32
            .infobox-content comments + 2 reviews
          .stat.stat-success 8%
        /蓝色主题
        .infobox.infobox-blue
          .infobox-icon
            %i.ace-icon.fa.fa-twitter
          .infobox-data
            %span.infobox-data-number 11
            .infobox-content new followers
          .stat.stat-success
            32%
            %i.ace-icon.fa.fa-arrow-up