
%div.col-sm-12
  %div.widget-box.weidget-color-blue2
    %div.widget-header
      %h4.widget-title.lighter.smaller 添加期初库存录入
    %div.widget-body
      %div.widget-main.padding-8
        = render 'form'

        = link_to '返回', jxc_entering_stocks_path,class:'btn btn-xs btn-default'
