.skin_gray
{
  background-color:#f5f5f5
}
.table-center th,
.table-center td
{
    text-align: center !important;
    vertical-align: middle !important;
}

.product-img
{
	width: 50px;
	height: 50px;
}

.form-group
{
	clear: both;
  // margin-bottom: 15px;
	height: 34px;
	// line-height: 34px;
	// vertical-align: middle;
}

.form-group:after, .form-group:before
{
	content: " ";
  display: table;
}

.form-group label
{
	text-align: right;
}

.cell
{
	float: left;
	margin-right: 50px;
	font-size: 12px;
}

.cell-header
{
	color: #666;
}

.overview-user
{
	color: #599aee;
}

.overview-order
{
	color: #5fc97e;
	background-color: #efefef;
}

.overview-pay
{
	color: #f35550;
}

.sidebar-icon
{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: sub;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  width: 20px;
  height: 20px;
}

.overview-block
{
	padding: 14px;
  line-height: 20px;
  font-size: 16px;
  background-color: #f8f8f8;
}

.clearfix:after
{
	clear: both;
}

.clearfix:after, .clearfix:before
{
	display: table;
  line-height: 0;
  content: "";
}

.pic
{
	// float: left;
	// background-repeat: no-repeat;
	// background-position: right;
}

.overflow-hidden div
{
	overflow: hidden !important;
	white-space: nowrap;
	word-break: keep-all;
}
