// Place all the styles related to the cashiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cashier-header
{
  margin: 5px 0px 10px 0px;
}

.margin-bottom-20
{
  margin-bottom: 20px;
}

.radius-10
{
  border-radius: 10px;
}

#divTotalPrice
{
  height: 100px;
  font-weight: 900;
  font-size: 35px;
}

#divDiscount
{
  padding-left: 200px;
  font-size: 25px;
  font-weight: 300;
}

#tdCalculation
{
  width: 70%;
}

#divProductQuantity
{
  font-weight: 300;
  font-size: 35px;
}

.smallTicketName
{
  width: 40mm;
  word-break: break-all;
  word-wrap: break-word;
}

#divSmallTicket
{
  display: none;
}

.cashier-operat
{
  position: relative;
  top: 130px;
}

.width-300
{
  width: 300px;
}

#tableSmallTicket
{
  border: none;
  overflow: hidden;
  width: 62mm;

  tr
  {
    width: 62mm;
  }

  th, td
  {
    height: 30px !important;
  }
}

.tdSeparate
{
  width: 62mm;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.footer-index
{
  z-index: 1 !important;
}

.btn-group > .btn:first-child {
  margin: 0 10px 0 0;
}

.btn-group > .btn,
.btn-group > .btn + .btn
{
  margin: 0 10px 0 0;
}

.fixed-thread
{
  display: block;
  width: 100%;
  font-size: 13px;
  color: #393939;
  padding: 8px;
  height: 36px;
  background-color: #E4E3E8;
}

.scroll-tbody
{
  display: block;
  height: 250px;
  overflow-y: auto;
  width: 100%;
  padding-right: -10px;
}

.product-row
{
  height: 50px;
  font-size: 13px;
  padding: 8px;
}

.product-operat span
{
  margin: 0 4px;
}
