body, img, {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "SimHei"
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.img_banner {
    width: 100%;
    min-height: 249.5px;
}

a {
    text-decoration: none;
}

.logo-box {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo-box img {
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    margin-top: -22%;
}

.con-box {
    width: 85%;
    /*background-image: url("../../../public/images/share_integrals/share_bg.png");*/
    width: 100%;
    background-size: 100% 100%;
    overflow: hidden;
}

.content-box {
    width: 85%;
    background-image: url('/images/share_integrals/share_bg.png');
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

}

.content-box p {
    text-align: center;
    font-size: 120%;
    margin-top: 12%;
    margin-bottom: 5%
}

.btn01 {
    display:block;
    width:70%;
    height:40px;
    border-radius:5px;
    background-color:#fa6261;
    border:none; margin-left:auto;
    margin-right:auto; margin-top:5%;
    line-height:40px; text-align:center;
    color:#ffffff; font-size:120%;
}

.role-box {
    width: 100%;
    margin-top: 20px;
}

.role-box p{
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;

}
.role_active {
    display: block;
    color: #999;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;

}
.role_active i{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    border: 1px solid #999;
    font-size: 12px;
    text-align: center;
    margin-right: 6px;
    font-style: normal;

}



.text-box {
    width: 100%
}

.text-box p {
    margin-bottom: 5%;
    font-size: 125%
}


.aa_box {
    width: 100%;
    /*background-image: url("../../../public/images/share_integrals/share_bg.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.register2-box img {
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
}

.register2-box {
    width: 100%;
    background-size: 100% 100%;
    overflow: hidden;

}

.aa_box00 {
    font-size: 120%;
    line-height: 100%;
    text-align: center;
    color: #000;
    margin-top: 3%;
}

.aa_box01 {
    font-size: 120%;
    line-height: 150%;
    text-align: center;
    color: #fa6261;
    margin-top: 3%;
}

.btn_style_03 {
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    text-align: center;
    color: #999;
    font-size: 150%;
    margin-top: 4%;
    border: 1px solid #e5e5e5;
    -webkit-appearance: none;
}

.btn_style_04 {
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 6px;
    background-color: #fa7d7d;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 140%;
}
.role_content_box{
    font-family: "SimHei";
    color: #464646;
    font-size: 120%;
    margin-top: 5%;
    padding-left:5%;

}