<%- model_class = Category -%>

<div class="col-sm-6">
  <div class="widget-box widget-color-blue2">
    <div class="widget-header">
      <h4 class="widget-title lighter smaller">修改商品类别</h4>
    </div>

    <div class="widget-body">
      <div class="widget-main padding-8">


        <%= render 'form' %>

      </div>
    </div>
  </div>
</div>
