%h1= notice.present? ? notice : '修改账号'

= render 'form'

= link_to '详细', '', 'data-href'=>@import_bag_receiver,class: 'btn btn-default'
= link_to '返回列表', '', 'data-href'=>import_bag_import_bag_receivers_path(@import_bag),class: 'btn btn-default'
