%table#wines_table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th{:style=>'display:none'} ID
      %th 名字
      %th 种类
      %th 价格区间
      %th 浏览次数
      %th 创建时间
      %th 状态
:javascript
  var table;
    table = $('#wines_table').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/wines/table",
            "type": "POST"
        },
        "columns": [
            {"data": "_id", 'bVisible': false},
            {"data": "name"},
            {"data": "category"},
            {"data": "price"},
            {"data": "hits"},
            {"data": "created_at"},
            {"data": "status"}
        ],

        //"fnRowCallback": function (row, data, index) {
        //    var wine_id = data._id;
        //    //for (var i = 0; i < data.length; i++) {
        //        $('td:eq(-1)', row).html('<input type="checkbox" name="wine-checkbox' + wine_id + '" id = "checkbox' + wine_id + '" value = ' + wine_id + ' >')
        //    //}
        //    //alert(JSON.stringify(aData._id));
        //    return row;
        //},
    });
    $('#wines_table tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });