%table#wines_table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th{:style=>'display:none'} ID
      %th 名字
      %th 种类
      %th 价格区间
      %th 浏览次数
      %th 创建时间
      %th 状态