!!!
%html
  %head
    %meta{:content => "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
    %link{:href => "//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
      %link{:href => "//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", :rel => "stylesheet"}
        %script{:src => "//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"}
        %script{:src => "//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"}
  %body
    .container
      -if @chateau.pictures.present?
        .row
          .col-xs-12
            #myCarousel.carousel.slide
              / 轮播（Carousel）指标
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
              / 轮播（Carousel）项目
              .carousel-inner
                .item.active
                  %img{:alt => "First slide", :src => @chateau.pictures.to_a.first.pic.url,:style=>"width:100%"}
                -@chateau.pictures.to_a.drop(1).each do |p|
                  .item
                    %img{:alt => "First slide", :src => p.pic.url,:style=>"width:100%"}
              / 轮播（Carousel）导航
              %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
              %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}




        .row
          .li_name.col-xs-2
            酒庄主人:
          .li_content.col-xs-10
            =@data['chateau'].owner
        .row
          .li_name.col-xs-2
            所在产区:
          .li_content.col-xs-10
            =@data['chateau'].region.ancestors_and_self.map{|c|c.name}.drop(1) if @chateau.region.present?
        .row
          .li_name.col-xs-2
            详细地址:
          .li_content.col-xs-10
            =@data['chateau'].address
        .row
          .li_name.col-xs-2
            联系电话:
          .li_content.col-xs-10
            =@data['chateau'].phone
        .row
          .li_name.col-xs-2
            酒庄网址:
          .li_content.col-xs-10
            =@data['chateau'].urls
        - @data['mark'].each do |m|
          .row
            - m.each do |k,v|
              .li_name.col-xs-2
                = k + ':'
              .li_content.col-xs-10
                = v.to_s.strip





      .row
        #introduce.col-xs-12
          = markdown  @data['introduce']

:css
  body{
    font-family: SimHei;

  }
  #introduce{
  margin: 10px 10px 0px 0px;
  }

