<div class="main_out">
  <div style="height: 300px">
    <div class="row align-top">
      <a data-href="<%= product_path(product) %>">
        <img src="<%= RestConfig::PRODUCT_SERVER + product.main_url %>" width="245px" height="245px" class="img-responsive center-block"/>
      </a>
    </div>

    <div class="row center" style="padding: 0px 20px 0px 20px">
      <%= product.title %>
    </div>

    <div class="row center" style="padding: 0px 20px 0px 20px">
      总销量:<%= product.sale_count %>
    </div>

  </div>
</div>