%h1 Editing announcement_category

= render 'form'

= link_to 'Show','', 'data-href' => announcement_category_path(@announcement_category)
\|
= link_to 'Back','', 'data-href' =>announcement_categories_path
