- model_class = AnnouncementCategory
%h1= model_class.model_name.human

%table#example.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th#id{:style=>'display:none'} ID
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th#op op
%br

-#= link_to '新建种类', new_announcement_category_path
= link_to t('.new', :default => t("helpers.links.new")),'', 'data-href' => new_announcement_category_path,:class => 'btn btn-primary'


:javascript
  $(document).ready(function () {
   $('#example').DataTable({

        "processing": true,
        "serverSide": true,
        "ajax": {
            "url":"announcement_categories/data_table/",
            "type":"POST"
        },
        "columns" : [
            { "data": "_id","bVisible" : false },
            { "data": "name" },
            { "data": "description" },
            { "data": null,orderable: false },
        ],

        "sPaginationType": "full_numbers",

        "oLanguage": {
            "sProcessing": "正在加载中......",
            "sLengthMenu": "每页显示 _MENU_ 条记录",
            "sZeroRecords": "对不起，查询不到相关数据！",
            "sEmptyTable": "表中无数据存在！",
            "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
            "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
            "sSearch": "搜索",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "末页"
            }
        },

        "fnRowCallback":function(nRow,aData,iDataIndex){
        var announcement_id = aData._id;
        var id = $('td', nRow).eq(0).text();
        $('td:eq(-1)',nRow).html("<a href='/announcement_categories/"+announcement_id+"/edit'>修改｜</a><a href='/announcement_categories/"+ announcement_id +"'>详细｜</a><a href='/announcement_categories/"+ announcement_id +"' data-method = 'delete'>删除</a>");
        return nRow;
        },
   });
  });

